@model string
@{
    var rows = (int?)ViewData["Rows"] ?? 2;
}

<div>
    <textarea asp-for="@__model" class="form-control EasyMDE markdown" rows="@rows.ToString()"></textarea>
    <label asp-for="@__model" class="form-label"></label>
    <span asp-validation-for="@__model" class="invalid-feedback"></span>
</div>
