@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!Model.ShowDashboard)
{
    <h1>Home Page</h1>
    <p>See your manager to request access to the application.</p>
}
else
{
    <h1>Dashboard</h1>

    <div class="card mt-4">
        <div class="card-header">
            <h2 class="h5">Open Work</h2>
        </div>
        <div class="card-body">
            <p>
                <em>None.</em>
            </p>
        </div>
    </div>
}

<div class="card mt-4">
    <div class="card-header">
        <h2 class="h5">Some helpful development links</h2>
    </div>
    <div class="card-body">
        <ul>
            <li>
                <a asp-page="/Account/Index">Account Page</a>
            </li>
            <li>
                <a asp-page="/Admin/Users/Index">All Users</a>
            </li>
            <li>
                <a asp-page="/Admin/Maintenance/Index">Site Maintenance</a>
            </li>
            <li>
                @* ReSharper disable once Html.PathError *@
                <a href="api-docs/">API Docs</a>
            </li>
        </ul>
    </div>
</div>
